<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Hello World from server Nodejs</h2>
    <div id="component-example"></div>
    <script src="dist/main.js"></script>
  </body>
</html>
